* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;/*rem fontsize of root element*/
    background-color: var(--body-color, purple);
    padding: 2rem;
}

.container  {
    display: flex;
    flex-direction: column;
}

.translation {
    margin-top: 5rem;
}

.quote-wrapper{
    background-color: #fff;
    border-radius: 20px;
    padding: 4rem 1.5rem;
    -webkit-box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 15px -5px rgba(0, 0, 0, 1);
}
.quote-wrapper h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;

}
.quote-wrapper small {
    font-weight: 700;
    padding: 0.2rem 1rem;
    color: var(--wrapper-color, purple);
    border-radius: 5px;
    text-transform: capitalize;
}

.quote-wrapper blockquote {
    padding: 1.4rem 0;
    font-weight: 300;
}
.quote-wrapper cite{
    display: block;
    font-style: normal;
    margin-bottom: 1rem;
}
#gen-quote-btn{
    font-size: 1.1rem;
    border: none;
    background-color: var(--gen-color, purple);
    color: #fff;
    padding: 0.7rem 1.2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    outline: 0;
}
#gen-quote-btn:hover{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(159, 107, 160, 0.67);
    -moz-box-shadow: 0px 0px 9px 0px rgba(159, 107, 160, 0.67);
    box-shadow: 0px 0px 9px 0px rgba(159, 107, 160, 0.67);
}
@media screen and (min-width: 680px) {
    .quote-wrapper{
        width: 600px;
    }
}
